*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
oclif.manifest.json

# Don't commit Laravel Up Files related to the test app
test/test-app/environment
test/test-app/docker-compose.yml
test/test-app/.env.example
